:root {
  --doc-sidebar-width: 300px;
}

.docSidebarContainer {
  display: none;
}

@media (min-width: 997px) {
  .docSidebarContainer {
    display: block;
    width: var(--doc-sidebar-width);
  }

  .sidebarViewport {
    height: auto;
    max-height: none;
    position: static;
  }
}
