.navbarSearchContainer:empty {
  display: none;
}

@media (max-width: 996px) {
  .navbarSearchContainer {
    flex: 0 0 auto;
    position: static;
    right: auto;
  }
}

@media (min-width: 997px) {
  .navbarSearchContainer {
    padding: 0 var(--linsi-space-8);
  }
}
